@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-color: rgb(6, 6, 6);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container {
    background-color: white;
    width: 510px;
    /* height: 373px; */
    padding: 5px 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 28px;
}

.container h1 {
    font-family: 'Lobster', cursive;
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    user-select: none;
    letter-spacing: 1px;
}

.task-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
    padding: 2px 0 0 0;

}

#p1 {
    font-family: system-ui;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
}


.result {
    text-align: center;
    margin: 20px 0;
  }
  .result-heading {
    color: #555;
    font-size: 1rem;
    font-weight: 600;
  }
  .celsius-value {
    border-bottom: 2px solid #ccc;
    padding: 10px;
    transition: all .45s ease;
  }
  label {
    color: #555;
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  input,
  select {
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #ccc;
    padding: 8px;
    margin-bottom: 15px;
  }
  input:focus {
    border: 1px solid #4c49f3;
  }
  .degree-type {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  .degree-field {
    display: flex;
    flex-direction: column;
    width: 46%;
  }
  option {
    background-color: #3c39e7;
    color: #f6f6f6;
  }
  #convert-btn {
    background: linear-gradient(to bottom, #3633f3, #120fb9);
    border: none;
    outline: none;
    border-radius: 5px;
    color: #f6f6f6;
    cursor: pointer;
    font-weight: bold;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 12px 80px;
    transition: all 0.3s ease-in;
  }
  #convert-btn:hover {
    background: linear-gradient(to bottom, #4a47e7, #322fda);
  }
  
  /* Add a right margin to each icon */
  
  .fa {
    margin-left: -12px;
    margin-right: 8px;
  }
  
  .loading {
    display: none;
  }



.footer {
    height: 5vh;
    width: 100vw;
    position: absolute;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif
}

.footer p a {
    text-decoration: none;
    color: rgb(0, 0, 148);
}

.footer p a:hover {
    color: blue;
}


@media only screen and (max-width: 575px) {
    .container {
        transform: scale(0.95);
    }
}

@media only screen and (max-width: 425px) {
    .container {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 340px) {
    .container {
        transform: scale(0.8);
    }
}